<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSV Data</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <h1>Following is the csv file data</h1>

        {{ data }}

        <h1>Hit submit button to save the above data to the database</h1>

        <input type="submit" value="Submit">
    </form>
</body>

</html>